<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PS3DiscordRPCApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <PS3DiscordRPCApp.Properties.Settings>
            <setting name="PS3_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="TestConnectionOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShareOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDefaultDiscordAppID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TempC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TempF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomDiscordAppID" serializeAs="String">
                <value />
            </setting>
        </PS3DiscordRPCApp.Properties.Settings>
    </userSettings>
</configuration>